<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="com.polyvi.xface.extension.spec-test"
      version="1.0.0-dev">

    <name>Mobile Spec Test</name>
    <author>PolyVi Inc.</author>
    <description>Only for Mobile Spec Test</description>
    <license>GPLv3</license>
    <keywords>cordova,xface,test</keywords>

    <dependency id="org.apache.cordova.test.whitelist" url='.' subdir="cordova-plugin-whitelist" />
    <dependency id="org.apache.cordova.test.echo" url='.' subdir="cordova-plugin-echo" />
</plugin>
